.ring {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.ring>* {
    border-right: 1px solid #323f4a;
}

.ring [class$="header"] {
    height: 36px;
    padding-inline: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    background: #2a313a;
    border-bottom: 1px solid #323f4a;
}

.ring__label {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 0.5rem;
    font-size: 0.9rem;
}

.ring__label>[id^="progressbar"] {
    flex-grow: 1;
    height: 1.25rem;
    border: 1px solid #323f4a;
}

.ring__label>[id^="progressbar"] .bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(gold, #c85, gold);
    background-repeat: repeat;
    box-shadow: 0 0 10px 0px orange;
    animation:
        shine 4s ease-in infinite,
        end 1s ease-out 1;
    transition: width 3s ease;
}

.ring__editor,
.ring__output,
.ring__target {
    height: 100svh;
    display: flex;
    flex-direction: column;
    background: #07080b;
}

#ace-editor {
    width: 100%;
    height: 100%;
    font: 1rem/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}

.ring__editor-body,
.ring__output-body,
.ring__target-body {
    overflow-y: auto;
}

.ring__editor-body {
    height: 100%;
}

.ring__output-body,
.ring__target-body {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

#output-wrap {
    position: relative;
    width: 400px;
    height: 300px;
}

#output-iframe,
#output-diff {
    position: absolute;
    top: 0;
    left: 0;
}

#output-iframe {
    opacity: 1;
}

#output-diff {
    opacity: 0;
}

.ring__output:has(#show-diff:checked) #output-iframe {
    opacity: 0;
}

.ring__output:has(#show-diff:checked) #output-diff {
    opacity: 1;
}

#output-iframe,
#output-iframe-opponent {
    width: 400px;
    height: 300px;
    background: #fff;
}

#target-img {
    max-width: 400px;
    width: 400px;
    height: 300px;
}

#target-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.color {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: #2d3740;
    padding: 0.5rem;
    padding-right: 1rem;
    border-radius: 1rem;
    color: #a0b3c6;
    cursor: pointer;
}

.color__circle {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}

#share-link {
    display: none;
}

#share-link>a {
    background: #36351f;
    color: #ffdf00;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.chat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    display: grid;
    grid-template-rows: auto 0;
    overflow: hidden;
    background: #272822;
    border: 1px solid #323f4a;
    border-top-left-radius: 0.5rem;
    box-shadow: -10px -10px 10px 0 #0003;
    transition: grid-template-rows 0.2s ease-in-out;
}

.chat:has(#chat-toggle:checked) {
    grid-template-rows: auto 250px;
}

.chat__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.chat__title {
    font-weight: 700;
    padding: 0.25rem 0.5rem;
    background: #2a313a;
    border-bottom: 1px solid #323f4a;
}

.chat__messages-wrap {
    display: flex;
    flex-direction: column;
}

.chat__messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 0.5rem;
    overflow-y: auto;
}

.chat__message,
.chat__message-opponent {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: #2a313a;
    max-width: 320px;
}

.chat__message {
    align-self: end;
    box-shadow: -10px 10px 10px 0 #0001;
}

.chat__message::before {
    content: "You";
    display: block;
    font-size: 0.777rem;
    opacity: 0.8;
}

.chat__message-opponent {
    align-self: start;
    box-shadow: 10px 10px 10px 0 #0001;
}

.chat__message-opponent::before {
    content: "Opponent";
    display: block;
    font-size: 0.777rem;
    opacity: 0.8;
}

.chat__text {
    display: flex;
    gap: 0.5rem;
    border-top: 1px solid #323f4a;
}

.chat__text input {
    flex-grow: 1;
    all: unset;
    padding: 0.5rem;
    width: 100%;
}

@keyframes shine {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 50px;
    }
}

@keyframes end {

    0%,
    100% {
        box-shadow: 0 0 10px 0px orange;
    }

    50% {
        box-shadow: 0 0 15px 5px orange;
    }
}